In [1]:
# Dependencies and Setup mike
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Name of the CSV file
top_20 = "Resources/top_20_ca_wildfires.csv"
colusa_18_rainfall = "Resources/colusa_18_rainfall.csv"
lassen_12_rainfall = "Resources/lassen_12_rainfall.csv"
sandiego_03_rainfall = "Resources/sandiego_03_rainfall.csv"
tuolumne_13_rainfall = "Resources/tuolumne_13_rainfall.csv"
ventura_17_rainfall = "Resources/ventura_17_rainfall.csv"

In [3]:
# read the CSV in pandas
top_20 = pd.read_csv(top_20)
top_20.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [4]:
colusa_18_rainfall = pd.read_csv(colusa_18_rainfall)
colusa_18_rainfall.head()

   Colusa County  California   Precipitation   July
0  Units: Inches         NaN             NaN    NaN
1   Missing: -99         NaN             NaN    NaN
2           Date       Value             NaN    NaN
3         201807        0.00             NaN    NaN

In [5]:
ventura_17_rainfall = pd.read_csv(ventura_17_rainfall)
ventura_17_rainfall.head()

  Ventura County  California   Precipitation   December
0  Units: Inches         NaN             NaN        NaN
1   Missing: -99         NaN             NaN        NaN
2           Date       Value             NaN        NaN
3         201712        0.01             NaN        NaN

In [6]:
sandiego_03_rainfall = pd.read_csv(sandiego_03_rainfall)
sandiego_03_rainfall.head()

  San Diego County  California   Precipitation   October
0    Units: Inches         NaN             NaN       NaN
1     Missing: -99         NaN             NaN       NaN
2             Date       Value             NaN       NaN
3           200310        0.01             NaN       NaN

In [7]:
lassen_12_rainfall = pd.read_csv(lassen_12_rainfall)
lassen_12_rainfall.head()

   Lassen County  California   Precipitation   August
0  Units: Inches         NaN             NaN      NaN
1   Missing: -99         NaN             NaN      NaN
2           Date       Value             NaN      NaN
3         201208        0.05             NaN      NaN

In [8]:
tuolumne_13_rainfall = pd.read_csv(tuolumne_13_rainfall)
tuolumne_13_rainfall.head()

  Tuolumne County  California   Precipitation   August
0   Units: Inches         NaN             NaN      NaN
1    Missing: -99         NaN             NaN      NaN
2            Date       Value             NaN      NaN
3          201308        0.10             NaN      NaN

In [ ]:
#Merge

In [ ]:
# drop null rows
no_null_rainfall_df = merged_df.dropna(how='any')

In [ ]:
# Reduce dataframe to only relevant columns
# reduced_df = df.loc[:, []]
# reduced_df

In [ ]:
# Change column names to: Fire Name, Start Date, County, Acres Burned, Longitude, Latitude, Extinguished Date
# print(reduced_df.rename(columns={}))

In [ ]:
# Check data types
reduced_df.dtypes