In [1]:
# Dependencies and Setup mike
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Name of the CSV file
top_20 = "Resources/top_20_ca_wildfires.csv"
ca_rainfall_df = "Resources/ca_rainfall_df.csv"

In [3]:
# read the CSV in pandas
top_20 = pd.read_csv(top_20)
top_20

,index,fire_name,cause,month,year,county,acres,structures,deaths
0,0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
5,5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
6,6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
7,7,Matilija,Undetermined,September,1932,Ventura,220000,0,0
8,8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
9,9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
10,10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
12,12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
13,13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
14,14,Station,Human Related,August,2009,Los Angeles,160557,209,2
15,15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
16,16,Rough,Lightning,July,2015,Fresno,151623,4,0
17,17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
18,18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
19,19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0

In [4]:
index = top_20["index"]
fire_name = top_20["fire_name"]
cause = top_20["cause"]
month = top_20["month"]
year = top_20["year"]
county = top_20["county"]
acres = top_20["acres"]
structures = top_20["structures"]
deaths = top_20["deaths"]

In [5]:
# Rename column year 
summary_top20_df = pd.DataFrame({"Index": index, "Fire Name": fire_name, "Cause": cause, "Month": month, 
                                 "Year": year, "County": county, "Acres": acres, 
                                 "Structures": structures, "Deaths": deaths})

summary_top20_df

,Index,Fire Name,Cause,Month,Year,County,Acres,Structures,Deaths
0,0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
5,5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
6,6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
7,7,Matilija,Undetermined,September,1932,Ventura,220000,0,0
8,8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
9,9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
10,10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
12,12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
13,13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
14,14,Station,Human Related,August,2009,Los Angeles,160557,209,2
15,15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
16,16,Rough,Lightning,July,2015,Fresno,151623,4,0
17,17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
18,18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
19,19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0

In [6]:
# read the CSV in pandas
ca_rainfall_df = pd.read_csv(ca_rainfall_df)
ca_rainfall_df

    Index         County      Month  Year  Rainfall (in)
0       0         Colusa       July  2018           0.00
1       1        Ventura   December  2017           0.01
2       2      San Diego    October  2003           0.01
3       3         Lassen     August  2012           0.05
4       4       Tuolumne     August  2013           0.10
5       5          Butte   November  2018           6.08
6       6         Fresno       July  2015           0.56
7       7         Tulare       July  2002           0.01
8       8       Tuolumne     August  1987           0.03
9       9        Trinity     August  1999           0.32
10     10       Monterey       July  1977           0.00
11     11      San Diego  September  1970           0.01
12     12       Monterey       June  2008           0.00
13     13        Ventura  September  2006           0.01
14     14    Los Angeles     August  2009           0.01
15     15  Santa Barbara       July  2007           0.00
16     16         Shasta       July  2018           0.05
17     17        Ventura  September  1932           0.53
18     18      San Diego    October  2007           0.15
19     19       Siskiyou       June  2008           0.11

In [7]:
#Merge on year
merge_df = pd.merge(summary_top20_df, ca_rainfall_df, on="Index", left_index=True)
merge_df

,Index,Fire Name,Cause,Month_x,Year_x,County_x,Acres,Structures,Deaths,County_y,Month_y,Year_y,Rainfall (in)
0,0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1,Colusa,July,2018,0.00
1,1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2,Ventura,December,2017,0.01
2,2,Cedar,Human Related,October,2003,San Diego,273246,2820,15,San Diego,October,2003,0.01
3,3,Rush,Lightning,August,2012,Lassen,271911,0,0,Lassen,August,2012,0.05
4,4,Rim,Human Related,August,2013,Tuolumne,257314,112,0,Tuolumne,August,2013,0.10
5,5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0,Butte,November,2018,6.08
6,6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8,Fresno,July,2015,0.56
7,7,Matilija,Undetermined,September,1932,Ventura,220000,0,0,Tulare,July,2002,0.01
8,8,Witch,Powerlines,October,2007,San Diego,197990,1650,2,Tuolumne,August,1987,0.03
9,9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2,Trinity,August,1999,0.32
10,10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0,Monterey,July,1977,0.00
11,11,Laguna,Powerlines,September,1970,San Diego,175425,382,5,San Diego,September,1970,0.01
12,12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0,Monterey,June,2008,0.00
13,13,Day Fire,Human Related,September,2006,Ventura,162702,11,0,Ventura,September,2006,0.01
14,14,Station,Human Related,August,2009,Los Angeles,160557,209,2,Los Angeles,August,2009,0.01
15,15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85,Santa Barbara,July,2007,0.00
16,16,Rough,Lightning,July,2015,Fresno,151623,4,0,Shasta,July,2018,0.05
17,17,Mcnally,Human Related,July,2002,Tulare,150696,17,0,Ventura,September,1932,0.53
18,18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1,San Diego,October,2007,0.15
19,19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0,Siskiyou,June,2008,0.11

In [8]:
merge_drop_df = merge_df.drop(['County_x','Month_x', 'Year_x'], axis = 1) 
merge_drop_df

,Index,Fire Name,Cause,Acres,Structures,Deaths,County_y,Month_y,Year_y,Rainfall (in)
0,0,Mendocino Complex,Under Investigation,459123,280,1,Colusa,July,2018,0.00
1,1,Thomas,Powerlines,281893,1063,2,Ventura,December,2017,0.01
2,2,Cedar,Human Related,273246,2820,15,San Diego,October,2003,0.01
3,3,Rush,Lightning,271911,0,0,Lassen,August,2012,0.05
4,4,Rim,Human Related,257314,112,0,Tuolumne,August,2013,0.10
5,5,Zaca,Human Related,240207,1,0,Butte,November,2018,6.08
6,6,Carr,Human Related,229651,1614,8,Fresno,July,2015,0.56
7,7,Matilija,Undetermined,220000,0,0,Tulare,July,2002,0.01
8,8,Witch,Powerlines,197990,1650,2,Tuolumne,August,1987,0.03
9,9,Klamath Theater Complex,Lightning,192038,0,2,Trinity,August,1999,0.32
10,10,Marble Cone,Lightning,177866,0,0,Monterey,July,1977,0.00
11,11,Laguna,Powerlines,175425,382,5,San Diego,September,1970,0.01
12,12,Basin Complex,Lightning,162818,58,0,Monterey,June,2008,0.00
13,13,Day Fire,Human Related,162702,11,0,Ventura,September,2006,0.01
14,14,Station,Human Related,160557,209,2,Los Angeles,August,2009,0.01
15,15,Camp Fire,Powerlines,153336,18804,85,Santa Barbara,July,2007,0.00
16,16,Rough,Lightning,151623,4,0,Shasta,July,2018,0.05
17,17,Mcnally,Human Related,150696,17,0,Ventura,September,1932,0.53
18,18,Stanislaus Complex,Lightning,145980,28,1,San Diego,October,2007,0.15
19,19,Big Bar Complex,Lightning,140948,0,0,Siskiyou,June,2008,0.11

In [18]:
# rename
final_df = merge_drop_df.rename(columns={"County_y": "County", "Month_y": "Month", "Year_y": "Year"})
final_df

,Index,Fire Name,Cause,Acres,Structures,Deaths,County,Month,Year,Rainfall (in)
0,0,Mendocino Complex,Under Investigation,459123,280,1,Colusa,July,2018,0.00
1,1,Thomas,Powerlines,281893,1063,2,Ventura,December,2017,0.01
2,2,Cedar,Human Related,273246,2820,15,San Diego,October,2003,0.01
3,3,Rush,Lightning,271911,0,0,Lassen,August,2012,0.05
4,4,Rim,Human Related,257314,112,0,Tuolumne,August,2013,0.10
5,5,Zaca,Human Related,240207,1,0,Butte,November,2018,6.08
6,6,Carr,Human Related,229651,1614,8,Fresno,July,2015,0.56
7,7,Matilija,Undetermined,220000,0,0,Tulare,July,2002,0.01
8,8,Witch,Powerlines,197990,1650,2,Tuolumne,August,1987,0.03
9,9,Klamath Theater Complex,Lightning,192038,0,2,Trinity,August,1999,0.32
10,10,Marble Cone,Lightning,177866,0,0,Monterey,July,1977,0.00
11,11,Laguna,Powerlines,175425,382,5,San Diego,September,1970,0.01
12,12,Basin Complex,Lightning,162818,58,0,Monterey,June,2008,0.00
13,13,Day Fire,Human Related,162702,11,0,Ventura,September,2006,0.01
14,14,Station,Human Related,160557,209,2,Los Angeles,August,2009,0.01
15,15,Camp Fire,Powerlines,153336,18804,85,Santa Barbara,July,2007,0.00
16,16,Rough,Lightning,151623,4,0,Shasta,July,2018,0.05
17,17,Mcnally,Human Related,150696,17,0,Ventura,September,1932,0.53
18,18,Stanislaus Complex,Lightning,145980,28,1,San Diego,October,2007,0.15
19,19,Big Bar Complex,Lightning,140948,0,0,Siskiyou,June,2008,0.11

In [23]:
# create output csv
final_df.to_csv("Resources/final_df.csv")

In [ ]:
# Hypothesis 1:
# H0: The counties with the most amount of wildfires in the top 20 CA fires do not have the most amount of acres burned
# H1: The counties with the most amount of wildfires in the top 20 CA fires represent the most amount of acres burned

In [ ]:
# Hypothesis 2:
# H0: The counties with the most amount of wildfires in the top 20 CA fires do not have the least amount of rainfall calculated
# H1: The counties with the most amount of wildfires in the top 20 CA fires have the least amount of rainfall calculated

In [ ]:
# Hypothesis 3:
# H0: The counties with the longest duration of wildfires in the top 20 CA fires do not have the most acres burned
# H1: The counties with the longest duration of wildfires in the top 20 CA fires have the most acres burned

In [ ]:
# Hypothesis: 4
# H0: The counties with the longest duration of wildfires in the top 20 CA fires do not have the least amount of rainfall measured
# H1: The counties with the longest duration of wildfires in the top 20 CA fires have the least amount of rainfall measured