In [1]:
# Dependencies and Setup mike
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Name of the CSV file
top_20 = "Resources/top_20_ca_wildfires.csv"
colusa_18_rainfall = "Resources/colusa_18_rainfall.csv"
lassen_12_rainfall = "Resources/lassen_12_rainfall.csv"
sandiego_03_rainfall = "Resources/sandiego_03_rainfall.csv"
tuolumne_13_rainfall = "Resources/tuolumne_13_rainfall.csv"
ventura_17_rainfall = "Resources/ventura_17_rainfall.csv"

In [3]:
# read the CSV in pandas
top_20 = pd.read_csv(top_20)
top_20.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [ ]:
#Merge on year
merge_df = pd.merge(info_df, items_df, on="year")
merge_df

In [ ]:
# drop null rows
# no_null_rainfall_df = merged_df.dropna(how='any')

In [ ]:
# Reduce dataframe to only relevant columns
# reduced_df = df.loc[:, []]
# reduced_df

In [ ]:
# Change column names to: Fire Name, Start Date, County, Acres Burned, Longitude, Latitude, Extinguished Date
# print(reduced_df.rename(columns={}))

In [ ]:
# Check data types
reduced_df.dtypes

In [ ]:
# Hypothesis 1:
# H0: The counties with the most amount of wildfires in the top 20 CA fires do not have the most amount of acres burned
# H1: The counties with the most amount of wildfires in the top 20 CA fires represent the most amount of acres burned

In [ ]:
# Hypothesis 2:
# H0: The counties with the most amount of wildfires in the top 20 CA fires do not have the least amount of rainfall calculated
# H1: The counties with the most amount of wildfires in the top 20 CA fires have the least amount of rainfall calculated

In [ ]:
# Hypothesis 3:
# H0: The counties with the longest duration of wildfires in the top 20 CA fires do not have the most acres burned
# H1: The counties with the longest duration of wildfires in the top 20 CA fires have the most acres burned

In [ ]:
# Hypothesis: 4
# H0: The counties with the longest duration of wildfires in the top 20 CA fires do not have the least amount of rainfall measured
# H1: The counties with the longest duration of wildfires in the top 20 CA fires have the least amount of rainfall measured